body {
    font-family: 'Roboto', sans-serif;
    color: rgb(147, 112, 67);
    background-image: url('./small-grocery-cart-with-black-friday-sale-inscription_23-2147957597.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    background: url('https://via.placeholder.com/1920x600') no-repeat center center/cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(246, 163, 9);
    text-align: center;
   background-image: url('./shopping-cart-products_102375-2953.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;


    
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-card {
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}


footer {
    background-color: #f8f9fa;
}

footer .text-uppercase {
    font-weight: 700;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #007bff;
}